.players-form
  width: 90%
  box-sizing: border-box
  padding: 5px
  margin: 20px auto
  border-radius: 10px
  box-shadow: 2px 2px 2px lightgray
  background-color: aliceblue
  div
    margin-top: 5px
.MuiDropzoneArea-root
  min-height: 100px!important

