.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}
.control-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 10px auto;
}
a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
