.players-list
  min-height: 425px
@media (max-width: 665px)
  th.hiding-fields, td.hiding-fields
      &:nth-child(3),&:nth-child(4), &:nth-child(5)
        display: none
  .players-list
    min-height: 505px